
RegexAttempts/.vs/RegexAttempts/DesignTimeBuild/.dtbcache.v2
RegexAttempts/.vs/RegexAttempts/DesignTimeBuild/.dtbcache.v2
RegexAttempts/.vs/RegexAttempts/DesignTimeBuild/.dtbcache.v2
RegexAttempts/.vs/RegexAttempts/v16/.suo
RegexAttempts/RegexAttempts/bin/Debug/netcoreapp3.1/RegexAttempts.dll
RegexAttempts/RegexAttempts/bin/Debug/netcoreapp3.1/RegexAttempts.pdb
RegexAttempts/RegexAttempts/obj/Debug/netcoreapp3.1/RegexAttempts.assets.cache
RegexAttempts/RegexAttempts/obj/Debug/netcoreapp3.1/RegexAttempts.csproj.FileListAbsolute.txt
RegexAttempts/RegexAttempts/obj/Debug/netcoreapp3.1/RegexAttempts.csprojAssemblyReference.cache
RegexAttempts/RegexAttempts/obj/Debug/netcoreapp3.1/RegexAttempts.dll
RegexAttempts/RegexAttempts/obj/Debug/netcoreapp3.1/RegexAttempts.pdb
RegexAttempts/RegexAttempts/obj/project.assets.json
RegexAttempts/RegexAttempts/obj/project.nuget.cache
RegexAttempts/RegexAttempts/obj/RegexAttempts.csproj.nuget.dgspec.json
